@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif!important;
    background-image: url("/public/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}